{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stylish - Shoes Online Store HTML Template</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="TemplatesJungle" />
    <meta name="keywords" content="Online Store" />
    <meta
      name="description"
      content="Stylish - Shoes Online Store HTML Template"
    />

    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,900;1,900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- / quick view -->

    <!-- cart view -->
    <header id="header" class="site-header text-black">
      <nav id="header-nav" class="navbar navbar-expand-lg">
        <div class="container-lg">
          <a class="navbar-brand" href="/admin_dashboard">
            <img
              src="{% static 'images/main-logo.png' %}"
              class="logo"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler d-flex d-lg-none order-3 border-0 p-1 ms-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#bdNavbar"
            aria-controls="bdNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <svg class="navbar-icon">
              <use xlink:href="#navbar-icon"></use>
            </svg>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar">
            <div class="offcanvas-header px-4 pb-0">
              <a class="navbar-brand ps-3" href="/admin_dashboard">
                <img
                  src="{% static 'images/main-logo.png' %}"
                  class="logo"
                  alt="logo"
                />
              </a>
              <button
                type="button"
                class="btn-close btn-close-black p-5"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
                data-bs-target="#bdNavbar"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul
                id="navbar"
                class="navbar-nav fw-bold justify-content-end align-items-center flex-grow-1"
              >
                <li class="nav-item">
                  <a class="nav-link me-5" href="/admin_dashboard">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-5" href="/view_all_users">Users</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link me-5" href="{% url 'view_all_products' %}"
                    >Products</a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link me-5" href="{% url 'list_update_requests' %}"
                    >Update Requests</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link me-5"
                    href="{% url 'view_all_categories' %}"
                    >Categories</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link me-5" href="{% url 'view_all_suppliers' %}"
                    >Suppliers</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link me-5" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
